* {
    box-sizing: border-box;
}

html{
    font-family: Arial,sans-serif;
    font-size: 100%;
}

body
{
    width:100%;
    background-image: url(../img/body-background.jpg);
    background-position: 50% 0%;
/*    background-attachment: fixed;*/
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    background-color: #000000;
    width: 100%;
    height: 60px;
    /*display: flex;*/
    /*justify-content: center;*/
}

.layout-wrap {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    clear: both;
    overflow: hidden;
    position: relative;
    height: 100%;
}

header a {
    float: left;
    margin-top: 13px;
}

header .search-box {
    float: right;
    margin-top: 18px;
}

.page-body  {
    margin: 0 auto;
    background-color: rgba(131, 131, 131, 0.6);
    height: 1000px;
}

nav{
    padding: 2%;
    display: flex !important;
    justify-content: space-between;
    cursor: pointer;
}



.nav-section{
    display: flex;
    position: relative;
    width: 32%;
    height: 18%;
    flex-direction: column;
    align-content: center;
    background: black;
    font-size: 1em;
    border-radius: 4px;
    color:#ffffff;
}

.nav-section:nth-child(1){
    background: url(../img/icons/action-report-new.png)center 50px no-repeat #000;
    height: 125px;
}

.nav-section:nth-child(2){
    background: url(../img/icons/action-report-top.png)center 50px no-repeat #000;
    height: 125px;
}

.nav-section:nth-child(3){
    background: url(../img/icons/actions-help.png)center 50px no-repeat #000;
    height: 125px;
}
.nav-section p{
    text-align: center;
    font-size: 1em;
    font-family:Open Sans Semibold, sans-serif;
    height: 80%;
    line-height: 20px;
}

.menu{
    position: absolute;
    width: 100%;
    top:80%;
    z-index: 1000;
    background: #ebebeb;
}

.menu-hint{
    width: 100%;
    padding-left: 2%;
}

.menu-hint p{
    float: left;
    color:#333333;
    font-size:0.8em;
}

.arrow {  
    text-align: right;
    color:#333333;
    padding: 13px;
}

.nav-section:hover .action-list {
    display: block;
    cursor: pointer;
    margin:0;
}

.action-list{
    list-style-type:none;
    padding-left: 0;
    display: none;
    float: left;
    width: 100%;
}

.action-list:hover{
    list-style-type:none;
    padding-left: 0;
    display: inline-block;
    cursor: pointer;
}


.action-list li {
    border-bottom: 0.5px rgba(46, 11, 0, 0.1) solid;
    padding-left: 3%;
    background: rgba(255, 255, 255, 0.99);
    line-height: 2.5;
    font-family:Open Sans,sans-serif;
    font-size: 0.8em;
 
}

.nav-section li > a {
    text-decoration: none;
    color:#333333;
}


.action-list li:hover {
    background: #eeeeee;
}



.tabs{
    margin:4% 2%;
}

.tabs ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
    line-height: 39px;
    
}

.tabs > ul > li{
    list-style-type: none;
    width: 23%;
    background: #646464;
    color:#ffffff;
    height: 5%;
    overflow: hidden;
    text-align: center;
}


.tabs li > a{
    display: flex;
    align-items: baseline;
    justify-content: center;
    color: #ffffff;
    font-family: Open Sans, sans-serif;
    font-size: 0.8em;
    text-decoration: none;
    
}

.tabs > ul > li:hover,
.tabs li > a:hover{
    background: #ebebeb;
    color:#333333;
    cursor:pointer;
}


#quick-reports:target,
#fmy-folders:target,
#my-team-folders:target,
#public-folders:target
{
    width: 96%;
    background:#ebebeb; 
    height: 100%;
    position: absolute;
    display: flex;
}

#quick-reports:not(:target),
#fmy-folders:not(:target),
#my-team-folders:not(:target),
#public-folders:not(:target)
{
    opacity:0;
}


 













